body{
font-family:Arial;
margin:0;
background:#f4f4f4;
}

header{
background:#2c3e50;
color:white;
padding:15px;
}

.container{
max-width:1000px;
margin:auto;
padding:20px;
}

.nav{
display:flex;
justify-content:space-between;
align-items:center;
}

nav a{
color:white;
margin-left:15px;
text-decoration:none;
}

.hero{
text-align:center;
padding:80px 20px;
background:white;
}

.button{
background:#2c3e50;
color:white;
padding:10px 15px;
text-decoration:none;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
}

.card{
background:white;
padding:20px;
border-radius:6px;
}

footer{
text-align:center;
padding:20px;
background:#ddd;
}

.small-header{
background:#34495e;
color:white;
padding:25px;
text-align:center;
}
